services:
  frontend:
    image: sridavid/mean-frontend:latest
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - mean-network

  backend:
    image: sridavid/mean-backend:latest
    ports:
      - "3000:3000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/meandb
    depends_on:
      - mongo
    networks:
      - mean-network

  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - mean-network

volumes:
  mongodb_data:

networks:
  mean-network:
    driver: bridge

